<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/andrey-aka-skif/index.json" />
		<add key="nii-gitea" value="http://192.168.100.252:3000/api/packages/usov-andrey/nuget/index.json" allowInsecureConnections="True" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="andrey-aka-skif" />
			<add key="ClearTextPassword" value="%github_access_token%" />
		</github>
		<nii-gitea>
			<add key="Username" value="usov-andrey" />
			<add key="ClearTextPassword" value="%gitea_password%" />
		</nii-gitea>
	</packageSourceCredentials>
</configuration>
